
log/*

config/deploy.yml

sirgantapp/config/mongoid.yml

sirgantapp/config/initializers/secret_token.rb

sirgantapp/config/initializers/carrierwave.rb

.bundle/install.log

.push-tmp/*

.sass-cache/*

sirgantapp/public/sites/*
